* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:Poppins;
    background:#000;
    color:white;
    min-height:100vh;
    overflow-x:hidden;
    transition:.5s;
}

body.light {
    background:#fff;
    color:#000;
}

/* Typography */

.glow {
    font-family:Orbitron;
    font-size:3rem;
    text-align:center;
    color:gold;
    text-shadow:0 0 20px gold;
}

/* Header */

header {
    padding:60px;
    text-align:center;
}

/* Cards */

.cards {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:40px;
    padding:40px;
}

.card {
    backdrop-filter:blur(20px);
    background:rgba(255,255,255,0.1);
    border-radius:20px;
    padding:30px;
    text-align:center;
    transition:.4s;
    transform-style:preserve-3d;
}

.card:hover {
    transform:rotateY(10deg) scale(1.08);
    box-shadow:0 0 40px gold;
}

/* Cursor */

.cursor {
    width:20px;
    height:20px;
    position:fixed;
    border-radius:50%;
    background:radial-gradient(circle, yellow, red, green);
    pointer-events:none;
    z-index:9999;
}

/* Theme Button */

#themeToggle {
    position:fixed;
    bottom:30px;
    right:30px;
    padding:15px 25px;
    border:none;
    background:gold;
    font-weight:bold;
    cursor:pointer;
    border-radius:50px;
}

/* Particles */

#particles {
    position:fixed;
    width:100%;
    height:100%;
    z-index:-1;
}
